@use "../styles/breakpoints" as breakpoints;
@use "../styles/colors" as colors;
@use "../styles/mixins" as mixins;

.ErrorPage {
  &__container {
    @include mixins.flex-center;
    flex-direction: column;
    text-align: center;

    min-height: 60vh;

    padding: 5rem 0;

    @include breakpoints.respond(sm) {
      padding: 4rem 0.5rem;
    }

    @include breakpoints.respond(md) {
      padding: 3rem 2rem;
    }
  }

  &__graphic {
    font-size: 5rem;
    color: var(--text-header);
  }

  &__title h1 {
    margin: 0 0 2rem 0;

    font-size: 2.5rem;
    line-height: 2rem;
    color: var(--text-header);
  }

  &__content {
    text-align: center;
    font-size: 1.1rem;
    max-width: 30rem;
    color: var(--text-secondary);

    .Button {
      margin-top: 2rem;
    }
  }
}
