@use "../styles/colors" as colors;

.Header {
  display: flex;
  justify-content: space-between;
  padding: 0 3rem 0 4rem;

  background-color: colors.$bg-light;

  &__link,
  &__scheduleKey__button {
    &:hover {
      background-color: colors.$gray-light;
    }
  }

  &__linkGroup {
    display: flex;
  }

  &__link {
    font-size: 1.25rem;
    font-weight: 600;
    color: colors.$blue-dark;
    text-decoration: none;

    border: 0 1px 0 1px solid colors.$gray-lightest;
    padding: 0.5rem 1rem;

    transition: all 0.2s ease;

    &:not(:first-child) {
      border-left: none;
    }

    &:hover {
      text-decoration: underline;
      text-underline-offset: 0.4rem;
    }
  }

  &__scheduleKey {
    display: flex;
    align-items: center;

    &__input {
      height: 2rem;
      padding: 0 0.5rem;
      
      color: colors.$gray-darker;

      border: 1px solid colors.$gray-light;
      border-radius: 0.5rem;
      
      z-index: 2;
      position: relative;
      
      transition: all 0.2s ease;

      &:focus {
        outline: none;
        border-color: colors.$blue;
        box-shadow: 0 0 0.25rem 0 colors.$blue-dark;
      }
    }

    &__button {
      display: flex;
      align-items: center;
      justify-content: center;

      font-size: 1.1rem;
      color: colors.$gray-darker;
      background-color: colors.$white;

      height: 2.1rem;
      padding: 0 0.3rem 0.1rem;

      border: 1px solid colors.$gray-light;
      border-radius: 0 0.5rem 0.5rem 0;

      position: relative;
      
      transform: translateX(-100%);
      opacity: 0;
      
      transition: all 0.2s ease;

      &:focus {
        outline: none;
        border-color: colors.$blue;
        box-shadow: 0 0 0.25rem 0 colors.$blue-dark;

        z-index: 3;
      }
    }

    &--hasInput {
      .Header__scheduleKey__input {
        border-radius: 0.5rem 0 0 0.5rem;
      }

      .Header__scheduleKey__button {
        transform: translateX(-1px);
        opacity: 1;
      }
    }
  }
}