@use "../../styles/breakpoints" as breakpoints;
@use "../../styles/colors" as colors;
@use "../../styles/mixins" as mixins;

.PrescriptionCalendar {
  &--loading {
    @include mixins.flex-center;

    min-height: 80vh;
    min-width: 80vw;

    @include breakpoints.respond(md) {
      min-height: 24rem;
      min-width: 32rem;
    }

    overflow: hidden;
    border-radius: 0.5rem;

    background: linear-gradient(
      0deg,
      colors.$gray-lighter 0%,
      colors.$white 50%,
      colors.$gray-lighter 100%
    );
    background-size: 100% 200%;
    animation: shimmer 1.5s ease-in-out infinite;

    &__text {
      color: colors.$gray-dark;
      font-size: 1.5rem;
    }
  }
}

@keyframes shimmer {
  0% {
    background-position: 0 200%;
  }
  100% {
    background-position: 0 -200%;
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateX(-50%) translateY(0.5rem);
  }
  to {
    opacity: 1;
    transform: translateX(-50%) translateY(0);
  }
}
