@use "../../styles/colors" as colors;
@use "../../styles/mixins" as mixins;

.Schedule {
  .PrescriptionCalendarContainer {
    @include mixins.flex-center;
  }

  &__scheduleKey {
    text-align: right;
    gap: 0.5rem;
    margin-top: 1.5rem;

    font-size: 1.5rem;

    &__hash {
      user-select: none;
      -webkit-user-select: none;
      -moz-user-select: none;

      color: colors.$gray;
    }

    &__key {
      font-family: monospace;
    }
  }
}