@use "../../styles/breakpoints" as breakpoints;
@use "../../styles/colors" as colors;
@use "../../styles/mixins" as mixins;

.Schedule {
  .PrescriptionCalendarContainer {
    @include mixins.flex-center;
    flex-direction: column-reverse;

    @include breakpoints.respond(md) {
      flex-direction: column;
    }

    &__countrySubtitle {
      color: colors.$text-subtitle;
      font-style: italic;
      font-size: 0.75rem;
      margin: 0 0 0.5rem;

      @include breakpoints.respond(md) {
        margin: 0.5rem 0 0;
      }
    }
  }

  &__detailsContainer {
    display: flex;
    flex-direction: column-reverse;

    gap: 3rem;
    margin: 0.5rem 0 4rem;

    @include breakpoints.respond(md) {
      display: flex;
      flex-direction: row;
      align-items: end;
      justify-content: space-between;

      gap: 0;
      margin: 1.5rem 0 0.5rem;
    }
  }

  &__data {
    text-align: left;
  }

  &__scheduleKey {
    gap: 0.5rem;
    margin-top: 1.5rem;
    font-size: 1.5rem;
    text-align: left;

    @include breakpoints.respond(md) {
      text-align: right;
    }

    &__hash {
      @include mixins.no-select;

      color: colors.$gray;
    }

    &__key {
      font-family: monospace;
    }
  }
}
