@use "styles/colors" as colors;

$font-family: sans-serif;

#root {
  font-family: $font-family;
  max-width: 1280px;
  height: 100%;
  margin: 0 auto;
  text-align: center;
}

input[type="text"],
input[type="number"],
input[type="email"],
select {
  padding: 0.75rem;
  border: 1px solid colors.$gray-light;
  border-radius: 0.5rem;
  font-size: 1rem;
  transition: all 0.2s ease;
  background-color: white;

  &:focus {
    outline: none;
    border-color: colors.$blue;
    box-shadow: 0 0 0.25rem 0 colors.$blue-dark;
  }
}
